.header {
    margin: 0px;
    width: 100%;
    text-align: center;
}

.header h1 {
    margin: 0px;
}

.tasks-table {
    border-collapse: collapse;
}

.tasks-table table, th, td {
    border: 1px solid black;
}

.tasks-table input {
    background-color: white;
}